<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/saveData}" method="post" autocomplete="off">
        <table>
            <tr>
                <td>章节：</td>
                <td>
                    <input type="text" id="0" name="0">
                </td>
            </tr>

            <tr th:each="i:${#numbers.sequence(1,100)}">
                <td>[[${i}]]</td>
                <td><input type="text" th:name="${i}"></td>
            </tr>

        </table>
        <button type="submit">提交</button>
    </form>

</div>
<script src="js/jquery-3.4.1.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script type="text/javascript">

    // var basePath = [[${#request.getContextPath()}]];
    //
    // $("#save button").click(function () {
    //     $.ajax({
    //         url: basePath+"/testData",
    //         data: $("#save").serialize(),
    //         dataType: "json",
    //         type: "POST",
    //         success: function (result){
    //             alert(result)
    //         }
    //     })
    // })

</script>
</body>
</html>