<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <link rel="stylesheet" href="css/checkpage.css" th:href="@{/asserts/css/checkpage.css}">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="card text-center" style="width: 18rem; margin: 0 auto">
        <div class="card-body">
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">首页</button>
            <br>
            <div class="list-group">
                <a class="list-group-item list-group-item-action">第一章</a>
                <a class="list-group-item list-group-item-action">第二章</a>
                <a class="list-group-item list-group-item-action">第三章</a>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.4.1.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script src="js/popper.min.js" th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
<script type="text/javascript">
</script>
</body>
</html>